body{
    background-image: linear-gradient(to bottom right, black, grey);
    display: grid;
    grid-template-columns: 9.4vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 9.4vw;
    grid-template-rows: 8vh 8vh 45vh 90vh 90vh 90vh 10vh;
    border: 0px solid black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#TitleWeb{
    grid-column: 1/11;
    grid-row: 1/2;
    font-family: 'Times New Roman', Times, serif;
}

#lijnOnder{
    grid-row: 10/11;
    grid-column: 1/11;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

#Back{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
}

.transform{
    grid-row: 1/11;
    grid-column: 1/11;
    cursor: pointer;
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

.transform:hover{
    transform: scale(0.9);
}

#Titel{
    grid-row: 2/3;
    grid-column: 4/8;
    font-weight: bold;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    -webkit-text-stroke: 2px black;
}

#tekst1{
    grid-row: 2/4;
    grid-column: 2/10;
    padding-top: 120px;
    font-family: 'Courier New', Courier, monospace;
}

#Foto3{
    grid-row: 4/5;
    grid-column: 1/2;
    padding-left: 40px;
}

#Foto4{
    grid-row: 4/5;
    grid-column: 4/5;
    padding-left: 40px;
}

#Foto5{
    grid-row: 4/5;
    grid-column: 7/8;
    padding-left: 40px;
}

#Foto6{
    grid-row: 5/6;
    grid-column: 1/2;
    padding-left: 40px;
}

#Foto7{
    grid-row: 5/6;
    grid-column: 4/5;
    padding-left: 40px;
}

#Foto8{
    grid-row: 5/6;
    grid-column: 7/8;
    padding-left: 40px;
}

#Foto9{
    grid-row: 6/7;
    grid-column: 2/3;
    padding-left: 120px;
}

#Foto10{
    grid-row: 6/7;
    grid-column: 6/7;
    padding-right: 380px;
}

#Name1{
    grid-row: 4/5;
    grid-column: 2/4;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

#Name2{
    grid-row: 4/5;
    grid-column: 5/7;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

#Name3{
    grid-row: 4/5;
    grid-column: 8/10;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-right: 30px;
}

#Name4{
    grid-row: 5/6;
    grid-column: 2/4;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

#Name5{
    grid-row: 5/6;
    grid-column: 5/7;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

#Name6{
    grid-row: 5/6;
    grid-column: 8/10;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-right: 30px;
}

#Name7{
    grid-row: 6/7;
    grid-column: 3/5;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-left: 150px;
}

#Name8{
    grid-row: 6/7;
    grid-column: 7/9;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-right: 100px;
}
