body{
    background-image: linear-gradient(to bottom right, black, grey);
    display: grid;
    grid-template-columns: 9.4vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 9.4vw;
    grid-template-rows: 8vh 8vh 49.2vh 8vh 16.6vh 35.6vh 10vh 35vh 30vh 10vh;
    border: 0px solid black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#TitleWeb{
    grid-column: 1/11;
    grid-row: 1/2;
    font-family: 'Times New Roman', Times, serif;
}

#GameWeb{
    grid-row: 2/3;
    grid-column: 2/4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: solid white underline;
}

#Fotografie{
    grid-row: 3/4;
    grid-column: 5/7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 150px;
    text-decoration: solid white underline;
}

#ArtCreate{
    grid-row: 2/3;
    grid-column: 8/10;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: solid white underline;
}

#Design{
    grid-row: 3/7;
    grid-column: 4/8;
    margin-right: 179px;
    margin-left: 180px;
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 200px;
    margin-bottom: 238.5px;
    z-index: 1;
}

.transform{
    grid-row: 3/6;
    grid-column: 4/8;
    margin-right: 179px;
    cursor: pointer;
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

.transform:hover{
    transform: scale(0.9);
}

#Welcome{
    grid-row: 2/3;
    grid-column: 5/7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#lijnOnder{
    grid-row: 10/11;
    grid-column: 1/11;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

#tekstDesign{
    grid-row: 6/7;
    grid-column: 5/7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 25px;
    font-weight: bold;
}

#Rekindle{
    grid-column: 2/4;
    grid-row: 3/4;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 28px;
}

.transform2{
    grid-row: 3/6;
    grid-column: 2/4;
    margin-right: 179px;
    cursor: pointer;
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

.transform2:hover{
    transform: scale(0.9);
}

#tekstPreDes{
    grid-row: 4/5;
    grid-column: 2/4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5px;
    font-weight: bold;
}

#FreeSpace{
    grid-column: 2/4;
    grid-row: 5/7;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 27px;
    margin-top: 20px;
}

#tekstFreeSpace{
    grid-row: 7/8;
    grid-column: 2/4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5px;
    font-weight: bold;
}

#IMST{
    grid-column: 2/4;
    grid-row: 8/10;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 27.5px;
    margin-top: 20px;
    margin-bottom: 94px;
}

#tekstIMST{
    grid-row: 9/10;
    grid-column: 2/4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 128px;
    font-weight: bold;
}

#Personal{
    grid-column: 8/10;
    grid-row: 8/10;
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 94.5px;
    margin-right: 23px;
    margin-left: 30px;
}

#PersonalW{
    grid-column: 8/10;
    grid-row: 9/10;
    padding-top: 128px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#SENS{
    grid-column: 8/10;
    grid-row: 3/5;
    border: 3px solid white;
    border-radius: 5px;
    margin-bottom: 58px;
    margin-right: 23px;
    margin-left: 30px;
}

#tekstSENS{
    grid-column: 8/10;
    grid-row: 4/5;
    padding-top: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#ISS{
    grid-column: 8/10;
    grid-row: 5/8;
    border: 3px solid white;
    border-radius: 5px;
    margin-bottom: 75px;
    margin-right: 23px;
    margin-left: 30px;
    margin-top: 20px;
}

#tekstISS{
    grid-column: 8/10;
    grid-row: 7/8;
    padding-top: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#Me{
    grid-row: 6/9;
    grid-column: 4/8;
    margin-right: 179px;
    margin-left: 180px;
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 170px;
    margin-bottom: 59px;
}

#tekstMe{
    grid-row: 6/7;
    grid-column: 5/7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 120px;
    text-decoration: solid white underline;
}

