body{
    background-image: linear-gradient(to bottom right, black, grey);
    display: grid;
    grid-template-columns: 9.4vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 9.4vw;
    grid-template-rows: 8vh 40vh 45vh 45vh 45vh 45vh 10vh;
    border: 0px solid black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#TitleWeb{
    grid-column: 1/11;
    grid-row: 1/2;
    font-family: 'Times New Roman', Times, serif;
}

#lijnOnder{
    grid-row: 10/11;
    grid-column: 1/11;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

#Back{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
}

.transform{
    grid-row: 1/11;
    grid-column: 1/11;
    cursor: pointer;
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

.transform:hover{
    transform: scale(0.9);
}

#Titel{
    grid-row: 2/4;
    grid-column: 2/10;
    font-weight: bold;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    border: 6px solid white;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
    -webkit-text-stroke: 2px green;
}

@media (prefers-reduced-motion: no-preference){
    #city{
        background-image: url(images/City.png);
        background-size: cover;
        grid-row: 4/5;
        grid-column: 2/6;
        scale: .8; opacity: 0;
        z-index: 1;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
        border: 3px solid white;
        border-radius: 2px;
        margin-top: 20px;
        image-rendering: optimizeQuality;
    }
}

#tekst1{
    grid-row: 6/7;
    grid-column: 3/9;
    margin-top: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    border: 4px solid white;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 130px;
}

@media (prefers-reduced-motion: no-preference){
    #farm{
        background-image: url(images/Farm.png);
        background-size: cover;
        grid-row: 4/5;
        grid-column: 6/10;
        scale: .8; opacity: 0;
        z-index: 1;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
        border: 3px solid white;
        border-radius: 2px;
        margin-top: 20px;
        image-rendering: optimizeQuality;
    }
}

@media (prefers-reduced-motion: no-preference){
    #walk{
        background-image: url(images/walk2.png);
        background-size: cover;
        grid-row: 5/6;
        grid-column: 2/6;
        scale: .8; opacity: 0;
        z-index: 1;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
        border: 3px solid white;
        border-radius: 2px;
        margin-bottom: 20px;
        image-rendering: optimizeQuality;
    }
}

#Walk2{
    grid-row: 4/5;
    grid-column: 7/8;
    padding-top: 350px;
}

@media (prefers-reduced-motion: no-preference){
    #Bike{
        background-image: url(images/bike.png);
        background-size: cover;
        grid-row: 5/6;
        grid-column: 6/10;
        scale: .8; opacity: 0;
        z-index: 1;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
        border: 3px solid white;
        border-radius: 2px;
        margin-bottom: 20px;
        image-rendering: optimizeQuality;
    }
}

#tekst2{
    grid-row: 4/5;
    grid-column: 3/7;
    padding-top: 260px;
    padding-right: 50px;
}

#Video{
    grid-row: 4/6;
    grid-column: 2/10;
    padding-top: 80px;
    padding-left: 100px;
}

#tekst3{
    grid-row: 6/7;
    grid-column: 5/9;
    padding-top: 190px;
}

#tekst4{
    grid-row: 3/4;
    grid-column: 2/10;
    font-style: italic;
    padding-top: 80px;
    font-weight: bold;
    font-size: larger;
    -webkit-text-stroke: 0.5px green;
}

.hidden {
  opacity: 0;
  transform: translateX(-40px);   /* begint links buiten beeld */
  transition: all 0.8s ease-out;
}

.hidden2 {
  opacity: 0;
  transform: translateX(-40px);   /* begint links buiten beeld */
  transition: all 0.8s ease-out;
  transition-delay: 1s;
}

.show {
  opacity: 1;
  transform: translateX(0);        /* schuift naar normale plek */
}

.show2 {
  opacity: 1;
  transform: translateX(0);        /* schuift naar normale plek */
}

@keyframes fade-in{
    
    to {scale: 1; opacity: 1;}
}