body{
    background-image: linear-gradient(to bottom right, black, grey);
    display: grid;
    grid-template-columns: 9.4vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 9.4vw;
    grid-template-rows: 8vh 8vh 49.2vh 45vh 45vh 45vh 10vh;
    border: 0px solid black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#TitleWeb{
    grid-column: 1/11;
    grid-row: 1/2;
    font-family: 'Times New Roman', Times, serif;
}

#lijnOnder{
    grid-row: 10/11;
    grid-column: 1/11;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

#Back{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
}

.transform{
    grid-row: 1/11;
    grid-column: 1/11;
    cursor: pointer;
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

.transform:hover{
    transform: scale(0.9);
}

#myImage{
    grid-row: 3/4;
    grid-column: 2/3;
    image-rendering: optimizeQuality;
    border: 5px solid white;
}

#text1{
    grid-row: 3/4;
    grid-column: 6/10;
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

#text2{
    grid-row: 3/4;
    grid-column: 6/10;
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 140px;
}

#text3{
    grid-row: 3/4;
    grid-column: 6/10;
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 240px;
}

#text4{
    grid-row: 3/4;
    grid-column: 6/10;
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 340px;
}

#text5{
    grid-row: 3/4;
    grid-column: 6/10;
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 440px;
}

#text6{
    grid-row: 3/4;
    grid-column: 6/10;
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 540px;
}

.hidden {
  opacity: 0;
  transform: translateX(-40px);   /* begint links buiten beeld */
  transition: all 0.8s ease-out;
}

.hidden2 {
  opacity: 0;
  transform: translateX(-40px);   /* begint links buiten beeld */
  transition: all 0.8s ease-out;
  transition-delay: 0.6s;
}

.show {
  opacity: 1;
  transform: translateX(0);        /* schuift naar normale plek */
}

.show2 {
  opacity: 1;
  transform: translateX(0);        /* schuift naar normale plek */
}

.hidden3 {
  opacity: 0;
  transform: translateX(-40px);   /* begint links buiten beeld */
  transition: all 0.8s ease-out;
  transition-delay: 1.1s;
}

.hidden4 {
  opacity: 0;
  transform: translateX(-40px);   /* begint links buiten beeld */
  transition: all 0.8s ease-out;
  transition-delay: 1.6s;
}

.show3 {
  opacity: 1;
  transform: translateX(0);        /* schuift naar normale plek */
}

.show4 {
  opacity: 1;
  transform: translateX(0);        /* schuift naar normale plek */
}

.hidden5 {
  opacity: 0;
  transform: translateX(-40px);   /* begint links buiten beeld */
  transition: all 0.8s ease-out;
  transition-delay: 2.1s;
}

.hidden6 {
  opacity: 0;
  transform: translateX(-40px);   /* begint links buiten beeld */
  transition: all 0.8s ease-out;
  transition-delay: 2.6s;
}

.show5 {
  opacity: 1;
  transform: translateX(0);        /* schuift naar normale plek */
}

.show6 {
  opacity: 1;
  transform: translateX(0);        /* schuift naar normale plek */
}

.hidden7 {
  opacity: 0;
  transform: translateX(-40px);   /* begint links buiten beeld */
  transition: all 0.8s ease-out;
  transition-delay: 3.1s;
}

.show7 {
  opacity: 1;
  transform: translateX(0);        /* schuift naar normale plek */
}

#myImage2{
    grid-row: 5/6;
    grid-column: 4/6;
    image-rendering: optimizeQuality;
    border: 5px solid white;
}

.hidden8 {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.5s ease-out;
}

.show8 {
  opacity: 1;
  transform: translateY(0);
}

