body{
    background-image: linear-gradient(to bottom right, black, grey);
    display: grid;
    grid-template-columns: 8.4vw 10vw 10vw 8vw 10vw 10vw 10vw 10vw 12vw 10.4vw;
    grid-template-rows: 8vh 8vh 8vh 8vh 8vh 60vh 8vh 16vh 63vh 8vh 16vh 39vh 6vh 10vh;
    border: 0px solid black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#TitleWeb{
    grid-column: 1/11;
    grid-row: 1/2;
    font-family: 'Times New Roman', Times, serif;
}

#lijnOnder{
    grid-row: 14/15;
    grid-column: 1/11;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

#Back{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 0;
    border: none;
    position: static;
    transform: none;
}

.transform{
    grid-row: 1/2;
    grid-column: 1/2;
    cursor: pointer;
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

.transform:hover{
    transform: scale(0.9);
    border: none;
}

#Titel{
    grid-row: 2/4;
    grid-column: 2/10;
    font-weight: bold;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}

#X{
    grid-row: 3/4;
    grid-column: 2/10;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-top: 50px;
}

#FinishedArt{
    grid-row: 4/5;
    grid-column: 2/10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 60px;
}

#WorkProgress{
    grid-row: 8/9;
    grid-column: 2/10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 60px;
}

#BOLD{
    grid-row: 11/12;
    grid-column: 2/10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 60px;
}

#Image1{
    grid-row: 6/7;
    grid-column: 2/4;
}

#Name1{
    grid-row: 7/8;
    grid-column: 2/4;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

#Name2{
    grid-row: 7/8;
    grid-column: 5/7;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-left: 50px;
}

#Name3{
    grid-row: 7/8;
    grid-column: 8/11;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-right: 50px;
}

#Image2{
    grid-row: 6/7;
    grid-column: 5/7;
    padding-top: 1px;

}

#Image3{
    grid-row: 6/7;
    grid-column: 8/10;
}

#Image4{
    grid-row: 9/10;
    grid-column: 3/5;
    padding-top: 3px;
}

#Image5{
    grid-row: 9/10;
    grid-column: 7/8;
    padding-top: 3px;
}

#Name4{
    grid-row: 10/11;
    grid-column: 3/5;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-left: 11px;
}

#Name5{
    grid-row: 10/11;
    grid-column: 6/10;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-left: 10px;
}

#Image6{
    grid-row: 12/13;
    grid-column: 2/4;
}

#Image7{
    grid-row: 12/13;
    grid-column: 5/7;
}

#Image8{
    grid-row: 12/13;
    grid-column: 8/10;
}

#Name6{
    grid-row: 13/14;
    grid-column: 2/4;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

#Name7{
    grid-row: 13/14;
    grid-column: 5/7;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-left: 0px;
}

#Name8{
    grid-row: 13/14;
    grid-column: 7/11;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-right: 50px;
}

#img{  
  transition: transform 0.6s, border 0.3s ease;
  border-radius: 3px solid white;
  cursor: zoom-in;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.zoom-img {
  transition: transform 0.3s ease, z-index 0s;
  cursor: zoom-in;
  position: relative;
}

.zoomed {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) scale(1.5) !important;
  z-index: 9999 !important;
  cursor: zoom-out;
  image-rendering: auto;
}

#zoom-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#zoom-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

#overlay2 {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 2;
}

img.zoomed {
  cursor: zoom-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  z-index: 11;
  transition: transform 0.6s;
  border: none;
}

img:hover{
    transform: scale(0.9);
    border: 2px solid white;
}

body.noscroll {
  overflow: hidden;
}

